@let gameLocal = game(); @if (gameLocal) {
<div
  [routerLink]="[`/games/${gameNameForUrl}`]"
  (click)="setSelectedGame()"
  class="relative border border-neutral-700 rounded-md hover:scale-[1.02] transition-all duration-200 ease-in-out shadow-md cursor-pointer"
>
  <!-- [ngSrc]="gameLocal.poster" -->
  <!-- check the image height, bug with some images that are higher -->
  <img
    src="http://localhost:4000/api/games/images/game-images/main/{{ gameLocal.poster }}"
    width="200"
    height="200"
    alt="Game image"
    [title]="gameLocal.name"
    class="w-full h-[10rem] rounded-md object-cover"
  />
  <h4
    class="bg-neutral-800 px-3 py-1 rounded-b-md w-full absolute left-[50%] -translate-x-[50%] bottom-0 truncate"
  >
    {{ gameLocal.name }}
  </h4>
  <!-- EDIT, REMOVE, DEVELOP LATER -->
  <!-- <div class="button-container">
    <button
      type="button"
      class="bg-red-800 px-2 py-1 rounded-sm"
      (click)="removeGame(gameLocal.id)"
    >
      Remove game
    </button>
    <a
      [routerLink]="['/add-edit-game/' + gameLocal.id]"
      class="bg-yellow-600 w-full px-2 py-1 rounded-sm"
      >Edit game</a
    >
  </div> -->
</div>
}
