<app-main-nav-bar></app-main-nav-bar>
@let activatedGame = selectedGame(); @if (activatedGame) {
<!-- Background -->
<div id="background-img" class="pl-6 border-orange-700">
  <img
    src="http://localhost:4000/api/games/images/game-images/main/{{ activatedGame.poster }}"
    width="800"
    height="400"
    alt="Background image"
    [title]="activatedGame.name"
    class="w-full h-auto object-cover rounded-md shadow-md absolute top-[3.8rem] left-0 opacity-10 pointer-events-none"
  />
</div>
<div id="single-game-main-container" class="bg-[#1b2838]">
  <div class="relative flex flex-col max-w-[74rem] mx-auto pt-20 gap-2 gap-y-1">
    <h3 class="col-span-6 text-3xl font-normal">
      {{ activatedGame.name }}
    </h3>
    <!-- TOP BLOCK *********************************************** -->
    <div
      id="top-block-container"
      class="col-span-6 grid grid-cols-6 gap-4 bg-gradient-to-l from-[#090e14]/70 from-5% to-transparent rounded-sm shadow-md"
    >
      <!-- RIGHT ON LARGE VIEW -->
      <div id="game-resume-detail" class="col-span-2 flex flex-col lg:order-1 pb-1">
        <div id="posterImage">
          <img
            src="http://localhost:4000/api/games/images/game-images/main/{{ activatedGame.poster }}"
            width="400"
            height="400"
            alt="Game image"
            [title]="activatedGame.name"
            class="w-full h-[11rem] xl:h-[13rem] object-fit mb-4"
          />
        </div>
        <!-- game main info -->
        <div class="flex flex-1 flex-col text-base text-neutral-300">
          <small class="mb-4 h-[7rem] overflow-hidden pe-3">{{ activatedGame.description }}</small>
          <small class="mb-2">
            <span class="text-neutral-400">{{ 'Reseñas de Steam: ' | uppercase }}</span>
            <spam class="text-sm" [ngClass]="getSteamValoration(activatedGame.steam_valoration)">{{
              activatedGame.steam_valoration || 'Desconocidas'
            }}</spam>
          </small>
          <small class="mb-2 flex gap-1 items-center">
            <span class="text-neutral-400">{{ 'Año de lanzamiento: ' | uppercase }}</span>
            <span class="text-blue-300">{{ activatedGame.year }}</span>
          </small>
          <small class="mb-2 flex gap-1 items-center">
            <span class="text-neutral-400">{{ 'Géneros: ' | uppercase }}</span>
            <span class="text-blue-300">{{ activatedGame.genres }}</span>
          </small>
          <div class="flex flex-wrap whitespace-nowrap gap-x-[.10rem]">
            <!-- warning for recomended game -->
            @if(activatedGame.recomended) {
            <small class="mt-2 flex items-center bg-orange-600/70 w-fit gap-2 px-2 py-1 rounded-xs">
              <span class="pi pi-thumbs-up-fill text-orange-300"></span>
              <span class="text-orange-300">Juego Recomendado</span>
            </small>
            <!-- Warning for gift game -->
            } @if(activatedGame.gift) {
            <small class="mt-2 flex items-center bg-lime-600/70 w-fit gap-2 px-2 py-1 rounded-xs">
              <span class="pi pi-gift text-lime-300"></span>
              <span class="text-lime-300">Juego de regalo</span>
            </small>
            }
          </div>
        </div>
        <!-- Some other features -->
        <div class="whitespace-nowrap">
          <small class="text-neutral-400 opacity-70">Otras características de este producto:</small>
          <!-- Related games info message -->
          <div class="flex flex-wrap gap-y-[.10rem] gap-x-[.15rem]">
            <small
              class="bg-[var(--light-blue-bg-color)] text-blue-300 w-fit py-1 px-2 rounded-xs text-xs cursor-pointer hover:bg-gradient-to-r hover:from-cyan-600 hover:to-cyan-700 hover:text-white"
              (click)="scrollToSection()"
              >{{ relatedGamePersonalizedMessage() }}
            </small>
            <!-- Warning for unavailable game -->
            @if(activatedGame.inactive) {
            <small
              class="bg-red-500/60 text-red-300 w-fit py-1 px-2 rounded-xs text-xs cursor-pointer hover:bg-gradient-to-r hover:from-red-600 hover:to-red-700 hover:text-white"
              >Juego no disponible</small
            >
            <!-- Warning for emulated game -->
            } @if(activatedGame.console) {
            <small
              class="bg-yellow-500/60 text-yellow-300 w-fit py-1 px-2 rounded-xs text-xs cursor-pointer hover:bg-gradient-to-r hover:from-yellow-600 hover:to-yellow-700 hover:text-white"
              >Advertencia de juego emulado</small
            >
            }
            <!-- Warning for new  game -->
            @if(activatedGame.new) {
            <small
              class="bg-[var(--light-blue-bg-color)] text-blue-300 w-fit py-1 px-2 rounded-xs text-xs cursor-pointer hover:bg-gradient-to-r hover:from-cyan-600 hover:to-cyan-700 hover:text-white"
              >Juego nuevo</small
            >
            }
            <!-- Warning for recent updated  game -->
            @if(activatedGame.updated) {
            <small
              class="bg-[var(--light-blue-bg-color)] text-blue-300 w-fit py-1 px-2 rounded-xs text-xs cursor-pointer hover:bg-gradient-to-r hover:from-cyan-600 hover:to-cyan-700 hover:text-white"
              >Juego actualizado</small
            >
            }
            <!-- Warning for aditional content -->
            @if(activatedGame.additional_content) {
            <small
              class="bg-[var(--light-blue-bg-color)] text-blue-300 w-fit py-1 px-2 rounded-xs text-xs cursor-pointer hover:bg-gradient-to-r hover:from-cyan-600 hover:to-cyan-700 hover:text-white"
              >Juego con contenido adicional</small
            >
            }
          </div>
        </div>
      </div>

      <!-- LEFT SIDE ON LARGE VIEW IMG GALLERY-->
      <div id="imagesThumbs" class="flex flex-col col-span-4 overflow-y-auto">
        <div class="">
          <p-galleria
            [value]="imageGallery()"
            [autoPlay]="true"
            [circular]="true"
            [responsiveOptions]="responsiveOptions"
            [numVisible]="4"
            [containerStyle]="{
              'max-width': 'fill',
              border: 'none',
              borderRadius: '0',
            }"
          >
            <!-- ActivatedImage -->
            <ng-template #item let-item>
              <img
                [src]="item.itemImageSrc"
                class="w-full h-[29rem] block object-cover flex-1 !rounded-none"
              />
            </ng-template>
            <!-- Thumbnails -->
            <ng-template #thumbnail let-item>
              <img [src]="item.thumbnailImageSrc" class="block px-1" [alt]="item.alt" />
            </ng-template>
          </p-galleria>
        </div>
      </div>
    </div>
    <!-- ********************************************************** -->

    <!-- INTERMIDIATE BLOCK -->
    <div
      id="intermidiate-block-container"
      class="flex bg-[#111923]/90 p-4 rounded-xs shadow-md text-neutral-300 items-center gap-2"
    >
      <div id="wich list" class="flex gap-[.16rem]">
        <button
          type="button"
          class="rounded-none rounded-s-xs bg-[#274357] border-none hover:bg-gradient-to-r hover:from-cyan-600 hover:to-cyan-700 group"
          pButton
        >
          <i class="pi pi-check group-hover:text-white text-blue-300" pButtonIcon></i>
          <span pButtonLabel class="group-hover:text-white text-blue-300 font-normal"
            >Añadir a la lista de deseados</span
          >
        </button>
        <button
          type="button"
          class="rounded-none rounded-e-xs bg-[#274357] border-none hover:bg-gradient-to-r hover:from-cyan-600 hover:to-cyan-700 group"
          pButton
          title="Favorite list"
        >
          <i class="pi pi-heart group-hover:text-white text-blue-300" pButtonIcon></i>
        </button>
      </div>
      <button
        type="button"
        class="rounded-xs bg-[#274357] border-none hover:bg-gradient-to-r hover:from-cyan-600 hover:to-cyan-700 group"
        pButton
      >
        <i class="pi pi-check text-blue-300" pButtonIcon></i>
        <span pButtonLabel class="group-hover:text-white text-blue-300 font-normal">Seguir</span>
      </button>
      <span class="flex-1 flex justify-end">
        <button
          type="button"
          title="Añadir a tu lista de compras"
          class="rounded-md border-4 border-neutral-950 bg-gradient-to-r from-lime-500 to-lime-700 hover:from-lime-600 hover:to-lime-800"
          pButton
        >
          <i class="pi pi-cart-plus text-lime-100" pButtonIcon></i>
          <span pButtonLabel class="font-normal text-lime-100">Añadir al carrito</span>
        </button>
      </span>
    </div>

    <!-- BOTTOM BLOCK **********************************************-->
    <div id="bottom-block-container" class="col-span-6 grid grid-cols-6 gap-4">
      <!-- RIGHT ON LARGE VIEW -->
      <div id="game-details-right-side" class="flex flex-col gap-y-2 col-span-2 lg:order-1">
        <div
          id="game-info"
          class="flex flex-col text-base text-neutral-300 bg-[#090e14]/90 rounded-sm p-4 shadow-md"
        >
          <!-- language field -->
          <small id="languague-field" class="mb-[2px] flex gap-1 items-center">
            <span class="pi pi-language me-1"></span>
            <span class="text-neutral-400 w-[5rem]">{{ 'Idioma: ' | uppercase }}</span>
            <p class="bg-[#121e27] text-blue-300 px-2 p-1 w-full">
              {{ activatedGame.language }}
            </p>
          </small>
          <!-- price field -->
          <small class="mb-[2px] flex gap-1 items-center">
            <span class="pi pi-dollar me-1"></span>
            <span class="text-neutral-400 w-[5rem]">{{ 'Precio: ' | uppercase }}</span>
            <p class="bg-[#121e27] text-blue-300 px-2 py-1 w-full">
              {{ activatedGame.price | currency }}
            </p>
          </small>
          <!-- FIX GAMES SIZE -->
          <small class="mb-[2px] flex gap-1 items-center">
            <span class="pi pi-window-minimize me-1"></span>
            <span class="text-neutral-400 w-[5rem]">{{ 'Tamaño: ' | uppercase }}</span>
            <p class="bg-[#121e27] text-blue-300 px-2 py-1 w-full">{{ activatedGame.size }} GB</p>
          </small>
          <small class="mb-[2px] flex gap-1 items-center">
            <span class="pi pi-trophy me-1"></span>
            <span class="text-neutral-400 w-[5rem]">{{ 'Puntos: ' | uppercase }}</span>
            <p class="bg-[#121e27] text-blue-300 px-2 py-1 w-full">
              {{ activatedGame.points }}
            </p>
          </small>
          <small class="mb-[2px] flex gap-1 items-center">
            <span class="pi pi-box me-1"></span>
            <span class="text-neutral-400 w-[6.3rem] whitespace-nowrap">{{
              'versión / build: ' | uppercase
            }}</span>
            <p class="bg-[#121e27] text-blue-300 px-2 py-1 flex-1">
              {{ activatedGame.version }}
            </p>
          </small>
          <!-- FIX GAMES MULTI -->
          <small class="mb-[2px] flex gap-1 items-center">
            <span class="pi pi-users me-1"></span>
            <span class="text-neutral-400 w-[6.3rem]">{{ 'Multijugador: ' | uppercase }}</span>
            <p class="bg-[#121e27] text-blue-300 px-2 py-1 flex-1">
              {{ activatedGame.multiplayer }}
            </p>
          </small>
          <small class="mb-[2px] flex gap-1 items-center">
            <span class="pi pi-play me-1"></span>
            <span class="text-neutral-400 w-[6.3rem]">{{ 'Plataforma: ' | uppercase }}</span>
            <p class="bg-[#121e27] text-blue-300 px-2 py-1 flex-1">
              {{ consoleAdapter(activatedGame.console) }}
            </p>
          </small>
          <small class="mb-[2px] flex gap-1 items-center">
            <span class="pi pi-lock-open me-1"></span>
            <span class="text-neutral-400 w-[6.3rem]">{{ 'para niños: ' | uppercase }}</span>
            <p class="bg-[#121e27] text-blue-300 px-2 py-1 flex-1">
              {{ activatedGame.for_kids ? 'Si' : 'No' }}
            </p>
          </small>
        </div>
        @if(!activatedGame.known_issues) {
        <div
          id="issue-block"
          class="bg-[#090e14]/90 p-4 shadow-md w-full h-[10rem] rounded-sm"
        ></div>
        }
      </div>

      <!-- LEFT SIDE ON LARGE VIEW DESCRIPTION-->
      <div id="game-details-left-side" class="flex flex-col gap-8 col-span-4 mb-4">
        <!-- game description -->
        <div id="game-description-container">
          <p>{{ 'acerca de este juego' | uppercase }}</p>
          <p-divider type="solid" />
          <div id="about-game-description" class="text-neutral-300 text-sm mt-2 h-auto">
            {{ descriptionAdapter(activatedGame.description).adaptedDescription }}
            @if(descriptionAdapter(activatedGame.description).readMore){
            <div id="readMore" class="flex flex-col items-center border border-amber-300">
              <p-divider />
              <button type="button" class="bg-neutral-700 py-1 px-2 rounded-xs">Leer más</button>
            </div>
            }
          </div>
        </div>
        <!-- game requirements -->
        <div id="game-requirements-container">
          <p>{{ 'requisitos del sistema' | uppercase }}</p>
          <p-divider type="solid" />
          <div id="inner-requirementes-container" class="flex mt-4">
            <div id="minimum">
              <h4 class="text-neutral-400 text-xs">{{ 'Mínimos:' | uppercase }}</h4>
              <div class="text-neutral-300 text-sm mt-2 h-auto p-2">
                {{ activatedGame.requirements }}
              </div>
            </div>
            <div id="recomended">
              <h4 class="text-neutral-400 text-xs">{{ 'Recomendados:' | uppercase }}</h4>
              <div class="text-neutral-300 text-sm mt-2 h-auto p-2">
                {{ activatedGame.requirements }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Related Games Crousel ************************************ -->
    <div #relatedGamesCarousel class="py-4">
      <app-related-games-carousel
        [relatedGameList]="activatedGame.calculatedInfo.relatedGamesList"
      />
    </div>
  </div>
</div>
<footer class="h-[10rem]"></footer>
}
