/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@plugin "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

/* SINGLE GAME DETAIL GLOBAL STYLES*/

:root {
  --blue-text-color: #66a2aa;
  --light-blue-bg-color: #274458;
  --blue-btn-hover-bg-color: #233d4f;

  --yellow-text-color: #fae5c2;

  --main-bg-color: #1b2838;
  --secondary-bg-color: #223d58;
  --tertiary-bg-color: #101822;
}
