@let gameList = relatedGameList(); @if(gameList.length > 0) {

<div class="card rounded-xs bg-[#090e14]/70 max-w-fit mx-auto">
  <!-- <p class="text-center py-2 text-cyan-400">Tenemos estos otros juegos de esta saga</p> -->
  <p-carousel
    [value]="adaptedDataForCarousel"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="autoPlayInterval()"
  >
    <ng-template let-product #item>
      <div
        (click)="updateSelectedGame(product.friendly_url)"
        class="border border-surface-200 dark:border-surface-700 hover:hover:bg-[#090e14] hover:cursor-pointer hover:dark:border-surface-500 rounded m-2 p-4 w-60"
      >
        <div class="mb-4">
          <div class="relative mx-auto">
            <img
              src="http://localhost:4000/api/games/images/game-images/main/{{ product.image }}"
              [alt]="product.name"
              class="w-full h-32 rounded-border object-cover"
            />
            <p-tag
              [value]="product.status ? ('no disponible' | uppercase) : ('disponible' | uppercase)"
              class="absolute left-1 top-1 font-bold text-xs rounded-sm !py-1 {{
                availableTagStyle(product.status)
              }}"
            />
          </div>
        </div>
        <div class="mb-4 font-medium truncate">{{ product.name }}</div>
        <div class="flex justify-between items-center">
          <div class="mt-0 font-semibold text-xl">{{ '$' + product.price }}</div>
          <span>
            <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
            <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
}
